<nav class="bg-blue-500 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white text-lg font-bold">
      <%= link_to "MyApp", root_path, class: "hover:underline" %>
    </div>
    <div>
      <%= link_to "Bloggers", users_path, class: "text-white hover:underline mr-4" %>
      <%= link_to "Articles", articles_path, class: "text-white hover:underline" %>
    </div>
  </div>
</nav>